<div>
    <h5>Tag: </h5>
    <input type="text" [(ngModel)]="tag" placeholder="BattleTag, PSN, or XBL name">
</div>
<div>
    <h5>Region: </h5>
    <select [(ngModel)]="region">
        <option selected>eu</option>
        <option>us</option>
        <option>kr</option>
    </select>
</div>
<div>
    <h5>Platform: </h5>
    <select [(ngModel)]="platform">
        <option selected>psn</option>
        <option>pc</option>
        <option>xbl</option>
    </select>
</div>

<button (click)="getStats()">Stats</button>
<button (click)="getHeroStats()">Hero</button>
