<h2>Welcome to Project Mimamoru!</h2>

<h4>What is Project Mimamoru?</h4>
<p>Project Mimamoru (translation from Japanese of "To Watch Over"), was created to be a place where Overwatch fans, players and anyone else can come to find out all the information about the many
    characters and maps that are in Overwatch. Also there is a section where players can look up their own, or a friends, #BattleTag, PSN, or Xbox Live account to see the accounts personal stats so you can see
    how you are doing compared to everyone else!</p>

<h4>Overwatch</h4>
<p>Overwatch is an online video game created by Blizzard Entertainment and was released in 2016. It is a first person shooter with various game modes, usually pitting two teams of 6 against each other to try to
    achieve the map objective.</p>